@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css?family=Manrope');


.App {
  padding: 0%;
  max-width: 100%;
  max-height: 100%;
  height: max-content;
  width: 100%;
  font-family: Manrope;
  background-color: transparent;
  transition: background-color 1.5s ease, opacity 1.2s ease;




}

.transparent-bg {
  background-color: #8d8ecc;


  /* Add any other styles you want for the transparent background */
}

.maxLimit {
  display: flex;
  max-width: 100vh;
  max-height: 100vh;

}

.section {
  display: flex;
  height: 100vh;


  opacity: 1;
  background-color: transparent;
  transition: background-color 1.5s ease, opacity 0.8s ease;
}

.animate {
  /* background: linear-gradient(45deg, #8d8ecc, #c2c1fc, #915ee4);
  background-size: 500% 500%;
  animation: gradient 10s ease infinite; */
  background-color: #8d8eccf1;
  /* Set the final background color here */
  opacity: 1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.intro-text {
  font-size: 72px;
  /* You can adjust the value based on your needs */
}

.head-text {
  font-size: 68px;
  font-weight: bold;

}

h1 {
  font-size: 72px;
  font-weight: 700;

  text-align: center;
  color: #8d8ecc;

}

.font-counter {
  font-size: 56px;
  text-align: center;
  padding-left: 5px;
  padding-top: 10px;
}


.button-1 {
  appearance: none;
  background-color: #ffffff2c;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 0.9em 1.5em;


  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-1:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #ebebeb25;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-1:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-1:after {
  background-color: #ffffff34;
}

.button-1 span {
  z-index: 1;
  position: relative;
}

.custom-shape-divider-top-1702191114 {

  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1702191114 svg {

  display: block;
  width: calc(100% + 1.3px);
  height: 104px;
}

.custom-shape-divider-top-1702191114 .shape-fill {
  fill: #c2c1fc;
}

.custom-shape-divider-bottom-1702192704 {

  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1702192704 svg {

  display: block;
  width: calc(100% + 1.3px);
  height: 490px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1702192704 .shape-fill {


  fill: #8d8ecc
}



/* backdrop css */
.backdrop {
  position: fixed;
  z-index: 52;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #8e8fcc50;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);
  background-color: #8d8ecc;

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-shape-divider-bottom-1702475921 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1702475921 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1702476687 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1702476687 svg {
  position: relative;
  display: block;
  width: calc(163% + 1.3px);
  height: 269px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1702476687 .shape-fill {
  fill: #8D8ECC;
}


.custom-shape-divider-top-1702476858 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1702476858 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 160px;
}

.custom-shape-divider-top-1702476858 .shape-fill {
  fill: #8D8ECC;
}

.scroll-container {
  perspective: 1200px;
  overflow-y: scroll;
  /* Enable vertical scrolling */
  height: 100vh;
  /* Set container height to full viewport height */
}

.pb-max {
  padding-bottom: 750px;

}

.pt-max {
  padding-top: 650 px;
}

.custom-shape-divider-bottom-1702491588 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1702491588 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 92px;
}

.custom-shape-divider-bottom-1702491588 .shape-fill {
  fill: #8D8ECC;
}
.custom-shape-divider-top-1702491686 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1702491686 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 129px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1702491686 .shape-fill {
    fill: #8D8ECC;
}

.custom-shape-divider-bottom-1702492604 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1702492604 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 129px;
}

.custom-shape-divider-bottom-1702492604 .shape-fill {
    fill: #8D8ECC;
}

.custom-shape-divider-top-1702492703 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1702492703 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 138px;
}

.custom-shape-divider-top-1702492703 .shape-fill {
    fill: #8D8ECC;
}
/* framer 




body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: var(--red);
  --accent: var(--white);

  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
}

* {
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
  text-align: center;
  margin: 100px 0 40px;
}

h2 {
  font-weight: 400;
  margin: 50px 0 10px;
}

p {
  margin: 0 0 30px 0;
  font-size: 18px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0) 1px,
    var(--background) 1px
  );
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  font-size: 14px;
  line-height: 14px;
}

footer::before {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--accent);
  opacity: 0.2;
}

footer svg {
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  color: var(--accent);
}

code {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

html {
  scroll-snap-type: y mandatory;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  text-align: center;
  margin: 100px 0;
}

h2 {
  margin: 0;
  color: var(--accent);
  left: calc(50% + 130px);
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: absolute;
}


section > div {
  width: 300px;
  height: 400px;
  position: relative;
  max-height: 90vh;
  margin: 20px;
  background: var(--white);
  overflow: hidden;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
} */

.scroller {
  max-width: full;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg,
      transparent,
      white 20%,
      white 80%,
      transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 120s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */


.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

