@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css?family=Montserrat');




@tailwind base;
@tailwind components;
@tailwind utilities;

body{
overflow-x: hidden;}
.App {
  padding: 0%;
  margin: 0%;
  min-width: 100%;
  max-width: 100vw;
  /* height: max-content; */
  width: 100%;
  font-family: Montserrat;


  transition: background-color 1.5s ease, opacity 1.2s ease;








}

.ff{
height: 130vh;

}


.firefox{

overflow: visible;
overflow-y: visible;

}
body::-webkit-scrollbar {
  width: 3px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;
  
}

body::-webkit-scrollbar-thumb {
  background-color: #562BB9;     
 
}

.body {
  padding: 0%;
  margin: 0%;

}

.im-size {
  width: 110vw;
  height: 100vh;
  object-fit: cover;
}


.text-head {

  font-size: 10vw;

}




.text-head-page {
  font-size: 1.7cqw;
}

.text-title {
  font-size: 1.7cqw;
}

.text-content {
  font-size: 0.6cqw;
}

.text-content-small {
  font-size: 0.5cqw;
}


.text-color {
  -webkit-text-fill-color: #562BB9;

}



.numCircle {
  background: #562BB9;
  border-radius: 1em;

  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  color: #ffffff;

  font-weight: bold;
  line-height: 1.5em;
  margin-right: 5px;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  width: 1.5em;
    content: "";

}




.bubble-2 {
  place-content: center;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row;
  gap: 10px;
  height: min-content;
  left: 50%;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  top: -227px;
  transform: perspective(1200px) translateX(-50%);
  width: min-content;
  z-index: 2;

}

.button-container {
  position: relative;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to right, #3b82f6, #8b5cf6);
}

/* .button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: #F2C843;
  font-weight: 500;
  border-radius: 10px;
\
  font-size: 0.5rem;
  height: 3vh;
  padding: 0px 20px;
  text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  background: linear-gradient(92.88deg, rgb(130, 84, 216) 9.16%, rgb(105, 93, 185) 43.89%, rgb(103, 63, 215) 64.72%);
  transition: all 0.5s ease 0s;
} 

button :hover {
  box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
  transition: all 0.1s ease 0s;
}*/


/* CSS */
.button {
  display: flex;

  transition: background-color 1.5s ease, opacity 1.2s ease;

 
  align-items: flex-start;
  padding: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  color: #562BB9;
  background: #ffffff28;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  text-align: left;
  touch-action: manipulation;
}

.button:hover {
  background-color: #552bb952;
}

.button:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}


.btnCall {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  outline: 0;
  cursor: pointer;

  border-radius: 3px;
  
  background: #562BB9;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 12px 20px;
  text-align: center;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);

}

.btnCall:hover {
  background: rgb(138, 125, 255);
}




.gradient-background {
  background-image: linear-gradient(to right, #F2C843, #ffffff, #f2c843);
  background-size: 500% 500%;
  animation: gradient 6s ease infinite;
  transition: background-color 1.5s ease, opacity 1.2s ease;
}

.yellow-grad {
  background-image: linear-gradient(to right, #F2C843, #ffffff, #f2c843);
  /* background-size: 500% 500%;
  animation: gradient 6s ease infinite; */
}

.trans-text {


  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: max(0em, calc(calc(1.3em - var(--framer-line-height, 1.3em)) / 2));
  margin: min(0em, calc(calc(1.3em - var(--framer-line-height, 1.3em)) / -2));

}

.bubble-1 {
  place-content: center;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row;
  gap: 10px;
  height: min-content;
  left: 50%;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  top: -227px;
  transform: perspective(1200px) translateX(-50%);
  width: min-content;
  z-index: 2;
}

.transparent-bg {
  background: linear-gradient(to right, #22003a, #340058);
  background-color: #22003aa8;
  animation: gradient 4s ease infinite;
  background-size: 1000% 100%;
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.purple-bg {

  background: #562BB9;

  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  transition: transform 1s ease-in, opacity 1s ease-in;
}



.maxLimit {
  display: flex;
  max-width: 100vh;
  max-height: 100vh;

}



.animate {
  background: radial-gradient(circle at center, #F2C843, #562BB9);
  background-size: 150% 250%;
  animation: gradient 6s ease infinite;
  /* background-color: #8d8eccf1; */
  /* Set the final background color here */
  /* opacity: 1; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.intro-text {
  font-size: 72px;
  /* You can adjust the value based on your needs */
}

.head-text {
  font-size: 68px;
  font-weight: bold;

}

.outro-text {
  font-size: 104px;
  font-weight: bold;



}

h1 {
  font-size: 72px;
  font-weight: 700;

  text-align: center;
  color: #8d8ecc;

}

.font-counter {
  font-size: 56px;
  text-align: center;
  padding-left: 5px;
  padding-top: 10px;
}


.button-1 {
  appearance: none;
  background-color: #ffffff2c;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 0.9em 1.5em;


  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-1:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #ebebeb25;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-1:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-1:after {
  background-color: #ffffff34;
}

.button-1 span {
  z-index: 1;
  position: relative;
}




/* backdrop css */
.backdrop {
  position: fixed;
  z-index: 52;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #8e8fcc50;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);
  background-color: #8d8ecc;

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.scrollspy {

  position: sticky;

  flex-direction: column;
  background-color: #00000000;

  top: 40px;
  left: 0.5rem;
  padding-left: 10px;
  width: 50%;



  z-index: 40;



}

.link {
  display: flex;
  max-width: 20px;
  color: #dccfe9;

}



.active-scroll-spy {
  color: #8D8ECC;
}


.scroller {
  max-width: full;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg,
      transparent,
      white 20%,
      white 80%,
      transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 120s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */


.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}


.nav-button {

  display: flex;
  outline: 0;
  cursor: pointer;


  background: #ffffff42;
  font-size: 20px;
  color: #ffffff;
  line-height: 28px;
  padding: 5px 15px;
  text-align: center;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);





}

.nav-button:hover {
  background: #562BB9;
}


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}



#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
  -webkit-text-fill-color: white;
}

input {
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #8a5cf644;

  border: solid 1px #b3aca7;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #8a5cf644;

}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #8a5cf644;
}

#submit {
  margin-bottom: 20px;
  /* Adjust the value as needed */
  background: #f2c943;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#submit:hover {
  background: #8a5cf644;

}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  
 
  overflow: clip;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  /* background-image: linear-gradient(45deg, #8a5cf644, #562bb9); */
  background-color: #5d23bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  /* width: 100%;
  height: 100%; */
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  
}

strong {
  z-index: 2;


  letter-spacing: 1px;
  padding: 0.5rem 0.5rem;
  color: #FFDB1c;
 
  text-shadow: 0 0 1px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 15s infinite;
  z-index: -1;
  overflow: clip;
}

.circle:nth-of-type(1) {
  background: #4e109e;
}

.circle:nth-of-type(2) {
  background: rgba(114, 39, 228, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #b99bff59;
}

.btn:hover {
  transform: scale(1.1)
}

.btn:active {
  border: double 4px #ffffff00;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #ffffff00;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
  overflow: hidden;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}




/* CSS */
.btn2 {
  appearance: none;

  border-width: 0;
 background-color: #340257;
    box-sizing: border-box;


  cursor: pointer;
  display: inline-block;

  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;


  position: relative;
  text-align: center;

  
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: wrap;
}

.btn2:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #b963ff8f;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.btn2:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.btn2 div{
color: white;
padding: 20px 30px;
white-space:inherit;}



/* CSS */
.btnlast {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  display: flex;
  align-items: center;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 2rem;
  padding: 1rem 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnlast:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .btnlast {
    padding: 0 2.6rem;
  }
}


